.visual-powerBIPrintButton3925D33A881F43DB8F6511F7564627B2_DEBUG p {
  font-size: 20px;
  font-weight: bold;
}
.visual-powerBIPrintButton3925D33A881F43DB8F6511F7564627B2_DEBUG p em {
  background: yellow;
  padding: 5px;
}
